<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8"/>
    <title>NA PLS的博客</title>

    <link rel="stylesheet" media="all" href="styles/blog/style.css"/>
    <link rel="stylesheet" href="styles/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- JS -->
    <script src="scripts/jquery-2.2.2.min.js"></script>
    <script src="scripts/blog/css3-mediaqueries.js"></script>
    <script src="scripts/blog/custom.js"></script>

    <!-- Masonry -->
    <script src="scripts/blog/masonry.min.js"></script>
    <!-- ENDS Masonry -->

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="styles/blog/lessframework.css"/>

    <!-- modernizr -->
    <script src="scripts/blog/modernizr.js"></script>

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="styles/blog/skin.css"/>

</head>

<body>

<header>
    <div class="wrapper clearfix">

        <div id="logo">
            <img class="pop_ctrl" src="images/blog/logo.png" alt="NA PLS">
            <ul>
                <li>
                    <a href="index.html" style="display:block;">
                        <div><img src="images/blog/home.png"></div>
                        <div>首页</div>
                    </a>
                </li>
                <li>
                    <div><img src="images/blog/S_T.png"></div>
                    <div>软件</div>
                </li>
                <li>
                    <div><img src="images/blog/humanities.png"></div>
                    <div>视频</div>
                </li>
            </ul>
        </div>

    </div>
</header>
<!-- MAIN -->
<div id="main">
    <div class="wrapper clearfix">

        <!-- masthead -->
        <div class="masthead clearfix">
            <h1>我的博客</h1>
        </div>
        <div class='mh-div'></div>
        <!-- ENDS masthead -->

        <!-- posts list -->
        <div id="posts-list" class="clearfix">

            {% for post in site.posts %}
            <article class="format-standard">
                <div class="entry-date">
                    <div class="number">{{post.day}}</div>
                    <div class="month">{{post.month}}</div>
                    <div class="year">{{post.year}}</div>
                    <em></em></div>
                <div class="post-heading">
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="meta">
                        <span class="user">{{post.category-cn}}</span>
                    </div>
                </div>
                {{ post.description }}

            </article>
            {% endfor %}

        </div>
        <!-- ENDS posts list -->

        <!-- sidebar -->
        <aside id="sidebar">
            <ul>
                <li class="block"><h3>Free you heart.</h3></li>
                <ul>
                    {% for post in site.posts %}
                    <li>{{ post.date | date:"%d/%m/%Y" }}
                        <br>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </ul>

            <em id="corner"></em>
        </aside>
        <!-- ENDS sidebar -->

        <!-- Fold image -->
        <div id="fold"></div>
    </div>

</div>
<!-- ENDS MAIN -->

<footer>
    <div class="wrapper clearfix">
        <!-- bottom -->
        <div class="footer-bottom">
            <span>Author: <abbr title="丁晔澎">Michael Tei</abbr></span><br>
            <span>Email: <strong>neveragain1995@163.com</strong></span><br><br>
            <span>Made by <abbr title="NA Personal Learning Studio" href="#">NA PLS</abbr></span>
            <!-- ENDS bottom -->
        </div>
    </div>
</footer>

<script src="scripts/blog/jquery.popmenu.min.js"></script>
</body>

</html>